# Dependencies
node_modules/
npm-debug.log*
yarn-error.log*

# Environment variables
.env
*.pem

# Backend
backend/dist/

# Frontend
frontend/www/
frontend/.angular/
frontend/android/
frontend/ios/

# IDE
.idea/
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

# OS
.DS_Store
Thumbs.db

# Docker
docker-compose.override.yml

# Coverage
coverage/

# Misc
*.log
